<h1>Weather app</h1>
<h2>{{location}}</h2>
{{#if weather }}
<ul style="list-style-type: none;">
    {{#each weather}}
    {{#each this}}
    <li style="background-color: beige; border-radius: 2px; padding-left: 20px;">{{@key}}: {{this}}</li>
    {{/each}}
    {{weather.applicable_date}}
    <td><img src="https://www.metaweather.com//static/img/weather/{{this.weather_state_abbr}}.svg" alt="Icon" width="80" height="80"></td>
    </br>
    {{/each}}
</ul>
{{/if}}
